{% extends 'layout.twig' %}

{% block body %}
<!-- My account page -->
<div class="flex flex-col md:flex-row">
    <div class="w-full md:w-1/2 md:pr-10">
        <div class="bg-white rounded-md border mx-40 my-2 border-gray-400 shadow-md">
            <!-- Profile picture -->
            <div class="flex justify-center items-center mt-5">
                <img src="https://curie77.fr/wp-content/uploads/2016/04/icon-user.png" alt="avatar"
                    class="rounded-full w-32 h-32">
            </div>
            <h1 class="text-xl text-center text-gray-700">{{ profile.username }}</h1>
            <p class="text-gray-700 text-center">{{ profile.email }}</p>
            <p class="text-gray-700 text-center">{{ profile.created_at | date("d/m/Y G:i") }}</p>
        </div>
    </div>
    <div class="w-full md:w-1/2 md:pl-10">
        <div class="bg-white rounded border mx-40 my-2 border-gray-400 shadow-md">
            <h1 class="text-xl text-center text-gray-700">My blocs</h1>
            {% for bloc in blocs %}
            <a href="/blocs/{{bloc.id}}" class="w-max">
                <div class="bg-white rounded border mx-40 my-2 border-gray-400 shadow-md">
                    <h1 class="text-xl text-center text-gray-700">{{ bloc.title }}</h1>
                    <p class="text-gray-700 text-center">{{ bloc.content }}</p>
                    <p class="text-gray-700 text-center">{{ bloc.created_at | date("m/d/Y") }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}